*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.img-sort{
    
        height: 113px;
        width: 113px;
        background-color: #F9E7FF;
        border-radius: 50%;
        display: inline-block;

}

.card img{
    width: 30px;
    height: 30px;
    top: 700px;
    left: 475.38px;
    position: sticky;
    right: 50px;

}