*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.img-sort{
    
        height: 113px;
        width: 113px;
        background-color: #F9E7FF;
        border-radius: 50%;
        display: inline-block;

}

.card img{
    width: 30px;
    height: 30px;
    top: 700px;
    /* left: 475.38px; */
    position: sticky;
    /* right: 50px; */

}




.form_container{
    /* color: #9747FF; */
    font-family: "Inter";
    font-weight: 700;
    
}

.col-4 h5{
    color: #9747FF;
}

form{
    font-family: "Inter";
    font-weight: 400;
}

.col-6 p{
    color: #9747FF;
}


